<div class="jumbotron jumbotron-fluid">
    <div class="background"></div>
    <div class="container">
        <h2>New Todo Item</h2>
        <p class="lead">Enter a new todo task description.</p>
        
        <form [formGroup]="addTodoForm" (ngSubmit)="onSubmit(addTodoForm.value)">
            <div class="form-group">
                <input type="text" class="form-control" [formControl]="addTodoForm.controls['description']" [class.border-danger]="hasError" placeholder="e.g., take out the trash" />
                <div class="form-text text-danger text-center" *ngIf="hasError">
                    <small>A task description is required.</small>
                </div>
            </div>
            <div class="form-inline d-sm-flex align-items-sm-center justify-content-sm-end">
                <label class="my-1 mr-2 form-text text-muted" for="duedate">Due Date</label>
                <select class="custom-select mr-sm-2" id="duedate" formControlName="dueDate">
                    <option value="urgent">Urgent</option>
                    <option value="days" selected>Days</option>
                    <option value="week">Week</option>
                </select>
                <button type="submit" class="btn btn-primary add-btn-block mt-2 mt-sm-0">Add</button>
            </div>
        </form>
    </div>
</div>
